nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li:first-child {
  margin-left: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
 /* Footer css */
 .movie-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
  font-size: 16px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #ccc;
}

